.weather {
    position: absolute;
    top: 30px;
    right: 50%;
}

.location {
    z-index: 999;
    position: absolute;
    top: 60px;
    left: 11px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.4rem 0.74rem;
    outline: currentcolor none medium;
}