.stack-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border-radius: 50%;
}

.heatmap-container {
    background:#fff;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
}

.heatmap-container span {
    padding: 1rem 0;
}

.heatmap-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.5rem 0;
}

.heatmap-list li {
    padding: 0.5rem 0;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
    background: #fff;
}